{% extends 'base.html' %}
{% block title %}Ресторанти | Buzzbox{% endblock %}
<!-- content -->
{% block content %}

<!-- load static -->
{% load static %}
<center>


    <h1>Ресторанти</h1>

    {% if restaurants %}

    {% for restaurant in restaurants %}

    <div class="card" style="width: 45rem;">
        {% if restaurant.logo %}
        <img src="{{ restaurant.logo.url }}" class="card-img-top" alt="{{ restaurant.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text">{{ restaurant.description }}</p>
            <ul>
                <li>Адрес: {{ restaurant.address }}</li>
                {% if restaurant.phone %}
                <li>Телефон: {{ restaurant.phone }}</li>
                {% endif %}
                {% if restaurant.web %}
                <li>Сайт: {{ restaurant.web }}</li>
                {% endif %}
            </ul>
            <a href="{% url 'restaurant-menu' restaurant.id %}" class="btn btn-primary">Обедно Меню</a>
            {% if user.is_restaurant_manager %}
            {% if user.id == restaurant.manager.id %}
            <a href="{% url 'menu-csv' restaurant.id %}" class="btn btn-primary">Обедно Меню - CSV</a>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <br>
    <br>

    <!--    {% if restaurant.logo %}-->
    <!--    <img src="{{ restaurant.logo.url }}" alt="{{ restaurant.name }}"-->
    <!--         width="200" height="300"><br/>-->
    <!--    {% endif %}-->
    <!--    Име: {{ restaurant.name }}<br/>-->
    <!--    Описание: {{ restaurant.description }}<br/>-->
    <!--    Адрес: {{ restaurant.address }}<br/>-->
    <!--    {% if restaurant.phone %}-->
    <!--    Телефон: {{ restaurant.phone }}<br/>-->
    <!--    {% endif %}-->
    <!--    {% if restaurant.web %}-->
    <!--    Сайт: {{ restaurant.web }}<br/>-->
    <!--    {% endif %}-->
    <!--    <br/>-->
    {% endfor %}


    {% else %}
    <h2>Все още няма ресторанти, но можеш да ни препоръчаш.</h2>
    {% endif %}
</center>
{% endblock %}
