@font-face {
  font-family: "GUERRILLA";
  src: url(../fonts/GUERRILLA-Normal.ttf);
}

:root {
  /* --main-bg-color: #f1f1f1;
  accent-coral: #FF8C8C;
  complementary-green: #acc8de;
  --h-and-f-color: #a5e8e5; */

  --main-bg-color: #fafffeb9;
  --h-and-f-color: #f8fffef8;
  --login-btn-color: #a5e8e5;
  --logo-color: #a5e8e5;
  --login-btn-color-dark: #62918e;
  --login-text-color-dark: #1d2c2b;
  --msg-pop-bg-color-100: #ffeed9;
  --msg-pop-border-color-100: #b89664;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 1 rem = 10px because 10px/16 defualtpx = 62.5% */
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.body {
  background-color: var(--main-bg-color);
}

.main-section {
  min-height: 70vh;
}

.main-section,
.footer,
.topbar,
.msg-pop-container {
  /* max-width: 52rem; */
  margin: 0 auto;
}

/* TopBar */
.topbar {
  background-color: var(--h-and-f-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  height: 11.8rem;
  width: 11.8rem;
  background-color: var(--logo-color);

  mask-image: url(../img/logo.svg);
  mask-size: 11.6rem 11.6rem;
  mask-repeat: no-repeat;

  -webkit-mask-image: url(../img/logo.svg);
  -webkit-mask-size: 11.6rem 11.6rem;
  -webkit-mask-repeat: no-repeat;

  position: relative;
}

#logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  font-family: "GUERRILLA";
}

.topbar-heading {
  letter-spacing: 0.4rem;
  font-family: "GUERRILLA";
  font-size: 3.2rem;
  color: var(--login-text-color-dark);
}

/* main-section */
.main-section {
  /* min-height: 89vh; */
  display: flex;
  flex-direction: column;
  color: var(--login-text-color-dark);
}

/* LOG IN SECTION */
.login-section {
  height: 50%;
  width: 92%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.login-section-form {
  display: flex;
  flex-direction: column;
}

.login-section h2 {
  margin: 3.2rem auto 0rem auto;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.username-input,
.password-input {
  width: 85%;
  padding: 1.2rem 2rem;
  margin: 3.2rem auto;
  display: inline-block;
  border: 1px solid var(--login-btn-color-dark);
  box-sizing: border-box;
  border-radius: 3rem;
  background-color: var(--h-and-f-color);
}

.username-input::placeholder,
.password-input::placeholder {
  color: var(--login-btn-color-dark);
  opacity: 0.8;
  letter-spacing: 0.16rem;
}

.username-input:focus,
.password-input:focus {
  outline: none;
  border: 2px solid var(--login-btn-color-dark);
  background-color: #ffffff;
}

.username-input {
  margin-bottom: 0.4rem;
}

.login-section__btn-container {
  display: flex;
  justify-content: space-around;
  width: 84%;
  margin: 0 auto 2rem auto;
}

.login-section__btn-container button {
  background-color: var(--login-btn-color);
  color: var(--login-text-color-dark);
  font-weight: 700;
  padding: 1.2rem 1.8rem;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 36%;
  border-radius: 3rem;
  border: 2px solid var(--login-btn-color);
}

#btn-register {
  background-color: var(--h-and-f-color);
}

#btn-register:hover {
  background-color: #d7eeed;
}

.login-section__btn-container button:hover {
  opacity: 0.8;
  border: 2px solid var(--login-btn-color-dark);
}

/* MEDIA SECTION */

.media-section {
  background-color: #ccc;
  width: 100%;
  min-height: 40rem;
  height: 100%;
  margin: 0rem auto;
  background-image: url(../img/img-handy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */
.footer {
  margin-top: 1rem;
  background-color: var(--h-and-f-color);
  height: 7vh;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -6px 10px -5px rgba(0, 0, 0, 0.1);
}

/* MSG POP UPs */
.msg-pop-container {
  display: flex;
  width: 80%;
  margin-top: 2rem;
  padding: 1.2rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;

  background-color: var(--msg-pop-bg-color-100);
  border: 2px solid var(--msg-pop-border-color-100);
  border-radius: 0.8rem;
  letter-spacing: 0.1rem;
}
.msg-pop-par {
  margin: 0 auto;
}

/* NAVBAR */
/* ////// NAV ///// */
/* ////// NAV ///// */
nav {
  margin: 0;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(83, 83, 83, 0.25);
  z-index: 1;
}

.nav-content {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-content a {
  display: block;
  line-height: 4rem;
  text-decoration: none;
  transition: all 0.3s;
  color: #000000;
}

.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
  opacity: 0.7;
}

.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}

.nav-icon {
  display: none;
  padding: 1.1rem 0;
  cursor: pointer;
  transition: all 0.3s;
}

.bar {
  height: 3px;
  width: 32px;
  background: rgb(0, 0, 0);
  transition: 0.5s;
}

.search-icon {
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 11.8rem;
    right: 0;
    height: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 20;
  }

  .show .nav-links {
    height: 100%;
  }

  .nav-links a {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    transition: opacity 1.5s, height 2s;
    text-align: center;
    letter-spacing: 0.22em;
  }

  .nav-links a:not(:last-child) {
    margin-bottom: 2rem;
  }

  .nav-links a:first-child {
    margin-top: 4rem;
  }

  .show .nav-links a {
    opacity: 1;
    width: auto;
    height: auto;
  }

  .nav-icon {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 12rem; */
  }

  .two {
    margin-top: 10px;
  }

  .logo {
    order: 1;
    font-size: 1.4rem;
  }
}

.show .one {
  transform: rotate(45deg) translateY(9px);
}

.show .two {
  transform: rotate(-45deg) translateY(-9px);
}

/* ///////////////////////////////// */
/* ///////REGISTER PAGE /////////// */
.register-page-container {
  background-color: orange;
  margin: 0 auto;
}
