:root {
  /* --main-bg-color: #f1f1f1;
  --h-and-f-color: #a5e8e5; */

  --main-bg-color: #fafafa;
  --h-and-f-color: #f8f8f8;
  --login-btn-color: #ff8c8c;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 1 rem = 10px because 10px/16 defualtpx = 62.5% */
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.body {
  background-color: var(--main-bg-color);
  /* max-width: 52rem; */
  /* margin: 0 auto; */
}

/* TopBar */
.topbar {
  background-color: var(--h-and-f-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.topbar h2 {
  font-size: 2.8rem;
}

.topbar img {
  display: block;
  width: auto;
  height: 12rem;
  padding: 0.4rem 0;
}

/* NavBar - not for home */

/* home-main */
.home-main {
  height: 88vh;
  display: flex;
  flex-direction: column;
}

/* LOG IN SECTION */
.login-section {
  height: 50%;
  width: 92%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.login-section h2 {
  margin: 3.2rem auto 0rem auto;
  font-size: 2.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 1.2rem 2rem;
  margin: 3.2rem auto;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3rem;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #5a2020;
  opacity: 0.8;
  letter-spacing: 0.16rem;
}

input[type="text"] {
  margin-bottom: 0.4rem;
}

.login-section__btn-container {
  display: flex;
  justify-content: space-around;
  width: 84%;
  margin: 0 auto 2rem auto;
}

.login-section__btn-container button {
  background-color: var(--login-btn-color);
  color: white;
  padding: 1.4rem 2rem;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 36%;
  border-radius: 3rem;
}

.login-section__btn-container button:hover {
  opacity: 0.8;
}

/* MEDIA SECTION */

.media-section {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  margin: 0rem auto;
  background-image: url(../img/img-handy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */
.footer {
  background-color: var(--h-and-f-color);
  height: 7vh;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -6px 10px -5px rgba(0, 0, 0, 0.1);
}
