@font-face {
  font-family: "GUERRILLA";
  src: url(../fonts/GUERRILLA-Normal.ttf);
}

:root {
  /* --main-bg-color: #f1f1f1;
  accent-coral: #FF8C8C;
  complementary-green: #acc8de;
  --h-and-f-color: #a5e8e5; */

  --main-bg-color: #fafffeb9;
  --h-and-f-color: #f8fffef8;
  --login-btn-color: #a5e8e5;
  --logo-color: #a5e8e5;
  --login-btn-color-dark: #62918e;
  --login-text-color-dark: #1d2c2b;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 1 rem = 10px because 10px/16 defualtpx = 62.5% */
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.body {
  background-color: var(--main-bg-color);
}

.main-section {
  min-height: 70vh;
}

.main-section,
.footer,
.topbar {
  max-width: 52rem;
  margin: 0 auto;
}

/* TopBar */
.topbar {
  background-color: var(--h-and-f-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  padding: 6.6rem 0;
}

.logo-container {
  height: 11.8rem;
  width: 11.8rem;
  background-color: var(--logo-color);

  mask-image: url(../img/logo.svg);
  mask-size: 11.6rem 11.6rem;
  mask-repeat: no-repeat;

  -webkit-mask-image: url(../img/logo.svg);
  -webkit-mask-size: 11.6rem 11.6rem;
  -webkit-mask-repeat: no-repeat;

  position: relative;
}

#logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  font-family: "GUERRILLA";
}

.topbar-heading {
  letter-spacing: 0.4rem;
  font-family: "GUERRILLA";
  font-size: 3.2rem;
  color: var(--login-text-color-dark);
}

/* NavBar - not for home */

/* main-section */
.main-section {
  /* min-height: 89vh; */
  display: flex;
  flex-direction: column;
  color: var(--login-text-color-dark);
}

/* LOG IN SECTION */
.login-section {
  height: 50%;
  width: 92%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.login-section-form {
  display: flex;
  flex-direction: column;
}

.login-section h2 {
  margin: 3.2rem auto 0rem auto;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.username-input,
.password-input {
  width: 85%;
  padding: 1.2rem 2rem;
  margin: 3.2rem auto;
  display: inline-block;
  border: 1px solid var(--login-btn-color-dark);
  box-sizing: border-box;
  border-radius: 3rem;
  background-color: var(--h-and-f-color);
}

.username-input::placeholder,
.password-input::placeholder {
  color: var(--login-btn-color-dark);
  opacity: 0.8;
  letter-spacing: 0.16rem;
}

.username-input:focus,
.password-input:focus {
  outline: none;
  border: 2px solid var(--login-btn-color-dark);
  background-color: #ffffff;
}

.username-input {
  margin-bottom: 0.4rem;
}

.login-section__btn-container {
  display: flex;
  justify-content: space-around;
  width: 84%;
  margin: 0 auto 2rem auto;
}

.login-section__btn-container button {
  background-color: var(--login-btn-color);
  color: var(--login-text-color-dark);
  font-weight: 700;
  padding: 1.2rem 1.8rem;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 36%;
  border-radius: 3rem;
  border: 2px solid var(--login-btn-color);
}

#btn-register {
  background-color: var(--h-and-f-color);
}

#btn-register:hover {
  background-color: #d7eeed;
}

.login-section__btn-container button:hover {
  opacity: 0.8;
  border: 2px solid var(--login-btn-color-dark);
}

/* MEDIA SECTION */

.media-section {
  background-color: #ccc;
  width: 100%;
  min-height: 40rem;
  height: 100%;
  margin: 0rem auto;
  background-image: url(../img/img-handy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */
.footer {
  margin-top: 1rem;
  background-color: var(--h-and-f-color);
  height: 7vh;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -6px 10px -5px rgba(0, 0, 0, 0.1);
}
